body {
  background-color: #e6cebc;
}
h1 {
  font-size: 70px;
  text-align: center;
  padding: 50px;
}
#weather-app-button {
  display: block;
  border: 0px;
  padding: 15px;
  margin: auto;
  background-color: #45503b;
  border-radius: 40px;
  width: 125px;
  text-decoration: none;
  color: #d09f85;
}
h3 {
  text-align: center;
}
h4 {
  padding: 50px;
  padding-top: 10px;
}
h1,
h2,
h3,
h4,
h5,
footer {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #45503b;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #45503b;
}
li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #45503b;
}
.card {
  background-color: #e6cebc;
  border: 0;
}
footer {
  text-align: center;
  padding: 40px;
}
